.close{
	width: fit-content;
    position: absolute;
    border: none;
}


.fa-plus-circle{
	color: #f6c447;
}

.fa-plus-circle:hover{
	cursor: pointer;
	opacity: .8;
}

.sortByLabel, .paramsLabel{
	align-items: center;
    display: grid;
    color: grey;
}
