.react-tabs__tab-list{
	padding-left: 10px !important;
	background-color: #52a8dc;
}

.react-tabs__tab{
	font-size: 20px;
    color: white;
}

.react-tabs__tab--disabled{
	position: relative;
	top: 20px;
}

.react-tabs__tab--selected{
	color: black;
}

.reportBuildDiv{
	padding: 5%;
	margin: auto;
	text-align: center;
}

.DimensionsMetrics{
	display: grid;
	grid-template-columns: 1fr 1fr;	
	margin: 30px;
}

.generatedUrlDiv{
	min-height: 100px;
	max-height: fit-content;
}

.generatedUrlDiv p{
	margin-top: 0px;
}

.generatedUrlDiv a {
	font-weight: bold;
	text-decoration: none;
	color: #52a8dc;
}

.csvDiv{
	display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    justify-content: left;
    width: fit-content;
}

.csvDiv label{
	padding-right: 10px;
	font-weight: bold;
}

.paramAndFilterDivs{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	grid-gap: 30px;
    margin: auto;
    min-height: 270px;
    width: 50%;
}

.filterDiv, .paramDiv{
	display: grid;
    width: 100%;
    border: 3px solid black;
    grid-gap: 5px;
    top: 485px;
}

.filterDiv{
	position: absolute;
    background: white;
    width: 15%;
    right: 30%;
    border-radius: 3%;
    padding: 25px;
}

.filterDiv label,  .paramDiv label{
	color: grey;
	justify-self: left;
	
}

.paramDiv{
	padding: 20px;
	position: absolute;
	background-color: white;
	width: 15%;
    left: 30%;
    border-radius: 3%;
}

