.dragBox ul{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
	padding: 0px;
	border: solid 2px grey;
	margin: auto;
	min-height: 100px;
	align-items: center;
  	justify-items: center;
}

.deleteButton{
	padding: 0px;
	height: 50px;
	width:50px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: none;
	border: none;
	color: white;
}

.deleteButton:hover{
	cursor: pointer;
}

.deleteButton:focus{
	outline: 0;
}

.sortableItemLi{
	position: relative;
	background-color: #52a8dc;
	color: white;
	list-style-type: none !important;
    width: fit-content;
    padding: 15px;
    margin: 10px;
    min-height: 40px !important;
    max-height: fit-content;
    width: 160px;
    border: dotted 1px grey;
    word-wrap: break-word;
}
