.dragBox li{
	list-style-type: none !important;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    border: dotted 1px grey;
    align-self: center;
    justify-self: center;
}

.dragBox ul{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
	border: solid 2px grey;
	margin: auto;
	min-height: 100px;
}

.deleteButton{
	padding: 0px;
	height: 50px;
	width:50px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: none;
	border: none;
}

.deleteButton:hover{
	cursor: pointer;
}

.sortableItemLi{
	position: relative;
}